<?php
date_default_timezone_set("Asia/Shanghai");
if (!defined('APP_STARTED')) {
    die('Forbidden!');
}

// Example configuration file for Wikitten. To use it,
// first rename it to `config.php`.

// Custom name for your wiki:
define('APP_NAME', 'My Wiki');

// You can install in a dir
define('APP_ROOT', 'Wikitten');

// Set the filename of the automatic homepage here
// 默认首页文件
define('DEFAULT_FILE', 'moozik.md');

// Custom path to your wiki's library:
// markdown文件目录
define('LIBRARY', './library');

// Enable editing files through the interface?
// NOTE: There's currently no authentication built into Wikitten, controlling
// who does what is your responsibility.
define('ENABLE_EDITING', true);

// Enable JSON page data?
// define('USE_PAGE_METADATA', true);

// Enable the dark theme here
define('USE_DARK_THEME', true);

// Disable the Wikitten logo here
// 建议关掉，花里胡哨
define('USE_WIKITTEN_LOGO', true);

// 这东西国内用不了
// Enable PasteBin plugin ?
// define('ENABLE_PASTEBIN', true);
// define('PASTEBIN_API_KEY', '76c7756d24fe6d5204b81a3c8c4a055f');

// Enable password authentication (leave this field commented to disable password)
define('ACCESS_USER', 'user');
define('ACCESS_PASSWORD', 'pass');

//view page without login
//所有人可以看到
define('ALLOW_EVERYONE_VIEW', true);

// Use this as default target for external urls
define('EXTERNAL_LINK_TARGET', '_blank');

// Enable the internal wiki URL and URL fix
define('INTERNAL_WIKI_LINK', true);

// Enable a custom stylesheet
// define('CUSTOM_MARKDOWN_STYLESHEET', 'mystyle.css');
